body {
    background-color: #000;
    overflow-y: hidden;
    overflow-x: hidden; 
    touch-action: none;
}

.logo img {
    width: 200px;
    height: 63px;
}

.logo {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.text {
    margin-top: 50px;
    width: 2415.26px;
    height: 157.73px;
}

.wrap { 
    position: absolute;
    top: 10px;
    left: 0;
}

.wrap img {
    width: 1500.28px;
    height: 850.07px;
}


@media (max-width: 770px) {
    .wrap img {
        width: 1000.28px;
        height: 850.07px;
        margin-top: 30px;
        margin-left: -100px;
    }

    .logo img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text img{
    margin-top: 100px;
    margin-left: -10px;
    width: 1100px;
    }
  }

  